
e8cef70f-ac26-4032-90bc-2de3b065df71.mobileprovision
ndi-identiface-sample-public-ios.xcworkspace/contents.xcworkspacedata
ndi-identiface-sample-public-ios.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Podfile.lock
Pods/*
FrameworkAndDependencies/*
