
e8cef70f-ac26-4032-90bc-2de3b065df71.mobileprovision
ndi-identiface-sample-public-ios.xcworkspace/contents.xcworkspacedata
ndi-identiface-sample-public-ios.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Podfile
Podfile.lock
Pods/iProov/iProov.xcframework/Info.plist
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Assets.car
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Base.lproj/Localizable.strings
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Base.lproj/Main.storyboardc/Info.plist
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Base.lproj/Main.storyboardc/IProovViewController.nib
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Headers/iProov-Swift.h
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Headers/iProov-umbrella.h
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Info.plist
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/iProov
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/iproov.der
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Modules/iProov.swiftmodule/arm.swiftdoc
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Modules/iProov.swiftmodule/arm.swiftinterface
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Modules/iProov.swiftmodule/arm64-apple-ios.swiftdoc
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Modules/iProov.swiftmodule/arm64-apple-ios.swiftinterface
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Modules/iProov.swiftmodule/arm64.swiftdoc
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Modules/iProov.swiftmodule/arm64.swiftinterface
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Modules/iProov.swiftmodule/armv7-apple-ios.swiftdoc
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Modules/iProov.swiftmodule/armv7-apple-ios.swiftinterface
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Modules/iProov.swiftmodule/armv7.swiftdoc
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Modules/iProov.swiftmodule/armv7.swiftinterface
Pods/iProov/iProov.xcframework/ios-armv7_arm64/iProov.framework/Modules/module.modulemap
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Assets.car
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Base.lproj/Localizable.strings
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Base.lproj/Main.storyboardc/Info.plist
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Base.lproj/Main.storyboardc/IProovViewController.nib
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Headers/iProov-Swift.h
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Headers/iProov-umbrella.h
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Info.plist
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/iProov
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/iproov.der
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Modules/iProov.swiftmodule/i386-apple-ios-simulator.swiftdoc
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Modules/iProov.swiftmodule/i386-apple-ios-simulator.swiftinterface
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Modules/iProov.swiftmodule/i386.swiftdoc
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Modules/iProov.swiftmodule/i386.swiftinterface
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Modules/iProov.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Modules/iProov.swiftmodule/x86_64-apple-ios-simulator.swiftinterface
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Modules/iProov.swiftmodule/x86_64.swiftdoc
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Modules/iProov.swiftmodule/x86_64.swiftinterface
Pods/iProov/iProov.xcframework/ios-i386_x86_64-simulator/iProov.framework/Modules/module.modulemap
Pods/iProov/LICENSE.md
Pods/iProov/README.md
Pods/KeychainAccess/Lib/KeychainAccess/Keychain.swift
Pods/KeychainAccess/LICENSE
Pods/KeychainAccess/README.md
Pods/Manifest.lock
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/ray.xcuserdatad/xcschemes/iProov.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ray.xcuserdatad/xcschemes/KeychainAccess.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ray.xcuserdatad/xcschemes/Pods-ndi-identiface-sample-public-ios.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ray.xcuserdatad/xcschemes/Socket.IO-Client-Swift.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ray.xcuserdatad/xcschemes/Starscream.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ray.xcuserdatad/xcschemes/SwiftyJSON.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ray.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Socket.IO-Client-Swift/LICENSE
Pods/Socket.IO-Client-Swift/README.md
Pods/Socket.IO-Client-Swift/Source/SocketIO/Ack/SocketAckEmitter.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Ack/SocketAckManager.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Client/SocketAnyEvent.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Client/SocketEventHandler.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Client/SocketIOClient.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Client/SocketIOClientConfiguration.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Client/SocketIOClientOption.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Client/SocketIOClientSpec.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Client/SocketIOStatus.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Client/SocketRawView.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Engine/SocketEngine.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Engine/SocketEngineClient.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Engine/SocketEnginePacketType.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Engine/SocketEnginePollable.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Engine/SocketEngineSpec.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Engine/SocketEngineWebsocket.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Manager/SocketManager.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Manager/SocketManagerSpec.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Parse/SocketPacket.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Parse/SocketParsable.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Util/SocketExtensions.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Util/SocketLogger.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Util/SocketStringReader.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Util/SocketTypes.swift
Pods/Socket.IO-Client-Swift/Source/SocketIO/Util/SSLSecurity.swift
Pods/Starscream/LICENSE
Pods/Starscream/README.md
Pods/Starscream/Sources/Starscream/Compression.swift
Pods/Starscream/Sources/Starscream/SSLClientCertificate.swift
Pods/Starscream/Sources/Starscream/SSLSecurity.swift
Pods/Starscream/Sources/Starscream/WebSocket.swift
Pods/SwiftyJSON/LICENSE
Pods/SwiftyJSON/README.md
Pods/SwiftyJSON/Source/SwiftyJSON/SwiftyJSON.swift
Pods/Target Support Files/iProov/iProov.debug.xcconfig
Pods/Target Support Files/iProov/iProov.release.xcconfig
Pods/Target Support Files/KeychainAccess/KeychainAccess-dummy.m
Pods/Target Support Files/KeychainAccess/KeychainAccess-Info.plist
Pods/Target Support Files/KeychainAccess/KeychainAccess-prefix.pch
Pods/Target Support Files/KeychainAccess/KeychainAccess-umbrella.h
Pods/Target Support Files/KeychainAccess/KeychainAccess.debug.xcconfig
Pods/Target Support Files/KeychainAccess/KeychainAccess.modulemap
Pods/Target Support Files/KeychainAccess/KeychainAccess.release.xcconfig
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios-acknowledgements.markdown
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios-acknowledgements.plist
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios-artifacts-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios-artifacts-Debug-output-files.xcfilelist
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios-artifacts-Release-input-files.xcfilelist
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios-artifacts-Release-output-files.xcfilelist
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios-artifacts.sh
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios-dummy.m
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios-frameworks-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios-frameworks-Debug-output-files.xcfilelist
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios-frameworks-Release-input-files.xcfilelist
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios-frameworks-Release-output-files.xcfilelist
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios-frameworks.sh
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios-Info.plist
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios-umbrella.h
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios.debug.xcconfig
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios.modulemap
Pods/Target Support Files/Pods-ndi-identiface-sample-public-ios/Pods-ndi-identiface-sample-public-ios.release.xcconfig
Pods/Target Support Files/Socket.IO-Client-Swift/Socket.IO-Client-Swift-dummy.m
Pods/Target Support Files/Socket.IO-Client-Swift/Socket.IO-Client-Swift-Info.plist
Pods/Target Support Files/Socket.IO-Client-Swift/Socket.IO-Client-Swift-prefix.pch
Pods/Target Support Files/Socket.IO-Client-Swift/Socket.IO-Client-Swift-umbrella.h
Pods/Target Support Files/Socket.IO-Client-Swift/Socket.IO-Client-Swift.debug.xcconfig
Pods/Target Support Files/Socket.IO-Client-Swift/Socket.IO-Client-Swift.modulemap
Pods/Target Support Files/Socket.IO-Client-Swift/Socket.IO-Client-Swift.release.xcconfig
Pods/Target Support Files/Starscream/Starscream-dummy.m
Pods/Target Support Files/Starscream/Starscream-Info.plist
Pods/Target Support Files/Starscream/Starscream-prefix.pch
Pods/Target Support Files/Starscream/Starscream-umbrella.h
Pods/Target Support Files/Starscream/Starscream.debug.xcconfig
Pods/Target Support Files/Starscream/Starscream.modulemap
Pods/Target Support Files/Starscream/Starscream.release.xcconfig
Pods/Target Support Files/SwiftyJSON/SwiftyJSON-dummy.m
Pods/Target Support Files/SwiftyJSON/SwiftyJSON-Info.plist
Pods/Target Support Files/SwiftyJSON/SwiftyJSON-prefix.pch
Pods/Target Support Files/SwiftyJSON/SwiftyJSON-umbrella.h
Pods/Target Support Files/SwiftyJSON/SwiftyJSON.debug.xcconfig
Pods/Target Support Files/SwiftyJSON/SwiftyJSON.modulemap
Pods/Target Support Files/SwiftyJSON/SwiftyJSON.release.xcconfig
